FROM ubuntu:16.04

RUN apt-key adv --keyserver hkp://keyserver.ubuntu.com:80 \
    --recv-keys B97B0AFCAA1A47F044F244A07FCC7D46ACCC4CF8
RUN echo "deb http://apt.postgresql.org/pub/repos/apt/ xenial-pgdg main" \
    > /etc/apt/sources.list.d/pgdg.list

RUN apt-get -qq update

RUN apt-get install -y -qq build-essential sudo \
    postgresql-{{pg_ver}} postgresql-client-{{pg_ver}} postgresql-server-dev-{{pg_ver}}
