version: '2'

services:
  base:
    build:
      context: ../..
      dockerfile: tests/build/base.Dockerfile
    image: replisome/base.{{pg_ver}}

  master:
    build:
      context: ../..
      dockerfile: tests/build/master.Dockerfile
    depends_on:
      - base

  slave:
    build:
      context: ../..
      dockerfile: tests/build/slave.Dockerfile
    depends_on:
      - base

  test:
    build:
      context: ../..
      dockerfile: tests/build/test.Dockerfile
    depends_on:
      - base
